server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/epc_ia
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate.format_sql: true

ia:
  base-url: http://localhost:8000
